<div class="page-wrapper-with-header">
<header class="global-header">
  <div class="header-left">
    <img src="assets/insight.png" alt="Logo" />
  </div>

  <div class="header-title">
    Insight Web API Documentation Portal
  </div>

 <div class="header-right">
  <a href="https://documenter.getpostman.com/view/38917280/2sB34cpNV6#ba5e12ea-4467-47f5-8c1e-d6041c1c8599" 
     class="postman-button-link" 
     target="_blank" 
     rel="noopener noreferrer">
    🚀 Test the API in Postman
  </a>
</div>
</header>

  <div class="page-wrapper">
    <aside class="sidebar">
  
      <nav class="nav-menu">
        <h4>Documentation</h4>
        <ul>
          <li class="dropdown" [class.open]="blocMenuOpen">
            <div class="dropdown-header" (click)="toggleBlocMenu()">
  <span class="arrow" [ngClass]="{ rotated: blocMenuOpen }">▾</span> Bloc
</div>
            <ul class="sub-menu" *ngIf="blocMenuOpen">
              <li><a routerLink="/bloc" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">🧾 Overview and Usage Guide</a></li>
              <li><a routerLink="/bloc/list" routerLinkActive="active">📦 View all blocs</a></li>
              <li><a routerLink="/bloc/add" routerLinkActive="active">➕ Create a new bloc</a></li>
              <li><a routerLink="/bloc/update" routerLinkActive="active">🛠 Update existing bloc</a></li>
              <li><a routerLink="/bloc/affect" routerLinkActive="active">🔗 Assign bloc to a dormitory</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="doc-section">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
